* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 234, 255);
    padding: 50px;
    width: 100vw;
    height: 100vh;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
}

h1 {
    word-spacing: 10px;
    width: 600px;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 15px;
    /* background: -webkit-linear-gradient(#00e5ff, #200868);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  */

}

.image {
    box-shadow: 5px 5px 20px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    transition: all .8s ease-in;
    width: 6%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
    background-size: cover;
    cursor: pointer;
}

.image1 {
    background-image: url(jyotirmoy-gupta-Qtk-1cN1EJY-unsplash.jpg);
}

.image2 {
    background-image: url(anders-jilden--N2UXcPBIYI-unsplash.jpg);
}

.image3 {
    background-image: url(charu-chaturvedi-o9CQk3UnGM8-unsplash.jpg);
}

.image4 {
    background-image: url(nathan-anderson-roZgc7SXXmI-unsplash.jpg);
}

.image5 {
    background-image: url(sid-balachandran-e2XV0HHk0qM-unsplash.jpg);
}




@media (width <=660px) {

    .main {
        flex-direction: column;
    }

    h1 {
        margin-left: 20%;
        margin-bottom: 10px;
    }

    .image {
        width: 100%;
        transition: all .2s ease-in;
    }

    h1 {
        margin-bottom: 0;
    }
}